{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyO/lS0RVnb60Vg5cQNhxELc"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","execution_count":null,"metadata":{"id":"6-2TYBsieiYL"},"outputs":[],"source":["tensorflow\n","pandas\n","numpy\n","scikit-learn\n","tensorboard\n","matplotlib\n","streamlit\n","scikeras"]}]}